body, ul, li, ol, h1, h2, h3, h4, h5, h6, p, a, div, textarea, input
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Cousine', helvetica, sans;
	resize: none;
}

html
{
	background-image: url('/enterprisecontent/assets/images/pagepattern.png');
}

.bold
{
	font-weight: bold;
}

#page_container
{
	height: auto;
	position: relative;
	min-height: 500px;
	width: 950px;
	display: block;
	background-image: url('/enterprisecontent/assets/images/mainback.png');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
}

#menu
{
	height: 20px;
	min-width: 950px;
	text-align: center;
	padding: 15px;
	background-color: #001226;
	display: block;
	float: center;
}

#menu a
{
	color: black;
	font-weight: bold;
	font-size: 18px;
	color: white;
}

#menu a:hover
{
	color: #ff6600;
}

#menu li
{
	display: inline;
	list-style: none;
}

#coolMenu,
#coolMenu ul {
    list-style: none;
}
#coolMenu {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

#coolMenu > li
{
    display: inline-block;
    margin: 0;
}

#coolMenu li a
{
	display: block;
    padding: 0 20px;
    margin: 0;
    text-decoration: none;
}

#coolMenu ul
{
    position: absolute;
    display: none;
	z-index: 999;
	background-color:#001226;

	padding: 10px 0 0 0;
}

#aboutlist a
{
	padding: 1em;
}

#coolMenu ul li a
{
    font-size: 16px;
    text-align: left;
    padding: 8px 10px;
    margin: 0;
    border-bottom: 2px solid #909090;
}

#coolMenu li:hover ul
{
    display: block;
}

#logoutbutton
{
    border-left: 2px solid #f0f0f0;
}

#header
{
	width: 100%;
	border-bottom: 2px solid #909090;
	background-color: #001226;
}

#headerimg
{
	width: 865px;
	margin-left: auto;
	margin-right: auto;

}

#header img
{
    margin-left: auto;
	margin-right: auto;
	border: 6px solid white;
	margin-top: 20px;
	width: 98.5%;
	padding: 0px;
}

#sidebar
{
	float: left;
	width: 230px;
	background-color: blue;
}



#contentBackground
{

	width: 950px;
}

#sidebartop {
	position: absolute;
	top: 5%;
	height: 35%;
	margin-left: 40px;
}

#logo {

    width: 150px;
    height: 100%;
    display: block;
    margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}

#sidebarbottom
{
	position: absolute;
	bottom: 0%;
	height: 45%;
	margin-left: 40px;
}

#sidebarbottom li
{
	list-style: none;
	height: 30%;
}

#sidebarbottom ul
{
	height: 100%;
	margin-left: -20px;
	text-align: center;
	vertical-align: center;
}

.li_two
{
	margin-left: 10%;
}

.li_three
{
	margin-left: 20%;
}

#main {

    width: 630px;
    height: auto;
    padding: 10px;
    top: 365px;
    margin-left: 250px;
    display: block;
    overflow-y: auto;
}

#main p, #main h1, #main h2, #main h3, #main h4, #main h5, #main h6{
	font-family: helvetica;
	line-height: 1.4em;
}

#adminMain {
        width: 630px;
    height: auto;
    padding: 10px;
    top: 365px;
    margin-left: 250px;
    display: block;
    overflow-y: auto;

}

.mainbutton, .mainbutton button
{
	margin: 10px 0 -1em 0;
	padding: 0;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: bold;

}

#adminMain textarea
{
	overflow: scroll;
	width: 99%;
	height: 75%;
	margin-top: -1em;

}

.nicEdit-panelContain
{
	margin-top: 15px;
}

#footer
{
	background-image: url('/enterprisecontent/assets/images/footerpattern.png');
	border-top: 2px solid #909090;
	padding: 5px;
	display: block;
	height: 40px;
	width:100%;
	float: left;
}

#footercontent
{
	padding-top: 12px;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #909090;
	font-size: 10pt;
}

#adminlink
{
	float: right;
	color: transparent;
}

#adminlink:hover
{
	color: black;
}

#adminheading
{
	text-align: center;
	color: white;
	padding: 1em;
}